*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  nav div form a{
      font-size: 18px;
      letter-spacing: 3px;
      text-decoration: none;
      color: black;
  }
  nav div form span{
      margin-left: 10px;
      margin-right: 10px;
  }